*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

#testimonials{
    height: 100vh;
    background: linear-gradient(rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237));
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#testimonials #head{
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, rgb(253, 186, 116), rgb(253, 164, 175));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}


#testimonials #para{
    max-width: 500px;
    text-transform: capitalize;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0;
    margin: 20px 5px;
    text-align: center;
}

.testimonials-wrapper{
    display: flex;
    justify-content: center;
    gap: 40px;


}

.testimonials-wrapper .card{
    height: 200px;
    width: 300px;
    background: linear-gradient(rgb(29, 78, 216), rgb(30, 64, 175), rgb(17, 24, 39));
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 30px;
    color: aliceblue;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card #rating{
color: goldenrod;
}

#rating i{
    background-color: yellow;
}

.feedback{
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card .line{
    width: 100%;
    height: 1px;
    background-color: rgb(190, 247, 234);
}

.profile{
    display: flex;
    gap: 10px;
}

.profile img{
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.info{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5px;
}

.info h3{
    font-size: 12px;
}

.info p{
    font-size: 10px;
}